<html ng-app>
    <head><title>Angularjs Alternate Rows of Table : devzone.co.in</title>
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <style>
            .odd {
                background-color: #FFF;
            }
            .even {
                background-color: #ccc;
            }
            table{
                border: 1px solid #ccc;
            }
            .main{
                margin: 10px auto;
                width:350px;
                border: 1px solid #ccc;
                padding: 20px;    
            }
        </style>
    </head>
    <body>
        <div class='main'>
            <table  ng-init="names = ['Brazylia', 'Chorwacja', 'Meksyk', 'Kamerun']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Hiszpania', 'Holandia', 'Chile', 'Australia']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Kolumbia', 'Grecja', 'Wybrzeże Kości Słoniowej', 'Japonia']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Urugwaj', 'Kostaryka', 'Anglia', 'Włochy']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Szwajcaria', 'Ekwador', 'Francja', 'Honduras']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Argentyna', 'Bośnia i Hercegowina', 'Iran', 'Nigeria']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Niemcy', 'Portugalia', 'Ghana', 'USA']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
			<table  ng-init="names = ['Belgia', 'Algieria', 'Rosja', 'Korea Południowa']" >
                <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{name}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>